{% extends "./default.html" %}

{% block style %}
	<style>
		footer,
		header,
		main {
			padding-left: 300px;
		}

		@media only screen and (max-width : 992px) {
			footer,
			header,
			main {
				padding-left: 0;
			}
		}
	</style>
{% endblock %}

{% block sidebar %}
	<ul id="slide-out" class="sidenav sidenav-fixed">
		{% block sidebar_content %}
			<li>
				<a href="#!">First Sidebar Link</a>
			</li>
			<li>
				<a href="#!">Second Sidebar Link</a>
			</li>
		{% endblock %}
	</ul>
{% endblock %}

{% block navbar %}
	<nav class="hide-on-large-only light-blue" role="navigation">
		<div class="nav-wrapper">

			<a href="#" data-target="slide-out" class="sidenav-trigger">
				<i class="material-icons">menu</i>
			</a>
			<a href="#" class="brand-logo">Logo</a>
		</div>
	</nav>
	{# to remove the nav bar from this  #}
{% endblock %}

{% block end %}
	<script>
		$(document).ready(function () {
			$('.sidenav').sidenav();
		});
	</script>
{% endblock %}