{% extends "../Defaults/default.html" %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.skedTape.min.css">
{% endblock %}

{% block navbar %}
	{% include "./navbar.html" %}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row" style="margin-top:2em">
			<div class="col s2">
				<img src="{{ doc.image }}" alt="" class="circle responsive-img">
			</div>
			<div class="col s10">
				<h5>{{ doc.name }}</h5>
				<h6>{{ doc.email }}</h6>
			</div>
		</div>
		<div class="row" style="margin-top:2em">
			<h6>{{ doc.designation }} at {{ doc.department }}</h6>
		</div>
		<div class="row" >
			<h6>{{ doc.speciality }}</h6>
		</div>
		<div class="row" >
			<h6>
				{% for item in doc.languages %}{{ item }} ,{% endfor %}
			</h6>
		</div>
		{% if doc.verified %}
			{% if doc.working %}
				<div class="row" >
					<h6>
				Price Per Session : {{ doc.pricePerSession }}
					</h6>
				</div>
				<div class="row">
					<div class="col s12">
						<div id="tape"></div>
					</div>
				</div>
			{% else %}
				<h5>This doctor isn't giving consultation at the moment</h5>
			{% endif %}
		{% else %}
			<h5>This doctor isn't verified yet please check back later</h5>
		{% endif %}

	</div>
</div>

{% endblock %}

{% block end %}
<script src="/static/js/jquery.skedTape.min.js"></script>

<script>

	// -------------------------- Helpers ------------------------------
	function today(hours, minutes) {
		var date = new Date();
		date.setHours(hours, minutes, 0, 0);
		return date;
	}
	function yesterday(hours, minutes) {
		var date = today(hours, minutes);
		date.setTime(date.getTime() - 24 * 60 * 60 * 1000);
		return date;
	}
	function tomorrow(hours, minutes) {
		var date = today(hours, minutes);
		date.setTime(date.getTime() + 24 * 60 * 60 * 1000);
		return date;
	}
	// --------------------------- Example 1 ---------------------------
	$(document).ready(function () {
		$('select').formSelect();
	});

	$(".dropdown-trigger").dropdown();
	$(document).ready(function () {
		$('.modal').modal();
	});

	var data = JSON.parse('{{ json | safe }}')

	var start = new Date(data.start);
	var end = new Date(data.end);

	//here we shall store the event that in case the client wants to book would be stored
	var toBookEvent;

	var $sked = $('#tape').skedTape({
		caption: 'Days', start: start, // Timeline starts this date-time
		end: end, // Timeline ends this date-time
		showEventTime: true, // Whether to show event start-end time
		showEventDuration: true, // Whether to show event duration
		snapToMins: 1,
		showDates: false, //hides the bar at the top
		editMode: false,
		locations: data.locations,
		/*		canAddIntoLocation: function (location, event) {
			console.log(event);
			console.log(location);
			return true;
		}, */
		events: [
			{
				name: 'Meeting 1',
				location: 'monday',
				start: today(14, 15),
				end: today(15, 30)
			}, {
				name: 'Meeting 2 Thing',
				location: 'tuesday',
				start: today(15, 15),
				end: today(16, 30)
			}
		]
	});

	//function called when the item is placed
	$sked.on('event:dragEnded.skedtape', function (e/* , api */) {
		if (toBookEvent) {
			$sked.skedTape('removeEvent', toBookEvent.id);
		}
		toBookEvent = e.detail.event;
		console.log(e.detail.event.id);
	});

	$sked.on('timeline:click.skedtape', function (e, api) {
		try {
			$sked.skedTape('startAdding', {
				name: 'New meeting',
				duration: data.timePerSession * 60 * 1000
			});
		} catch (e) {
			if (e.name !== 'SkedTape.CollisionError') 
				throw e;
				//alert('Already exists');
			}
		});
</script>
{% endblock %}