{% extends "../Defaults/default.html" %}

{% block navbar %}
{% include "./navbar.html" %}
{% endblock %}

{% block body %}

<div class="parallax-container">
    <div class="parallax"><img alt="Hospital Image" src={% if hosp.image %}"/customer/info/{{ hosp._id }}/image"{% else %}"https://pbs.twimg.com/media/Dd37dlNVMAAHKon.jpg"{% endif %}></div>
</div>

<div class="container">
    <div class="row">

        <div class="col s12 m4">
            <h4>{{ hosp.hospName }}</h4>
            <h6>{{ hosp.address.address1 }},{{ hosp.address.address2 }},{{ hosp.address.city }},{{ hosp.address.state }} {{ hosp.address.zip }}<br>Phone:{{ hosp.phone }}</h6>
            <div class="video-container">
                <iframe class="responsive-img" frameborder="0" style="border:0"
                        src="{{ map }}"
                        allowfullscreen></iframe>
            </div>
            <p></p>

        </div>
        
        <div class="col s12 m8">
            <h3>About Us</h3>
            <p>{{ hosp.about }}</p>
        </div>

    </div>

    <center><h3><span
            style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; color: rgb(10, 76, 161); font-weight: bold ; "> Consult Leading Doctors Over Video </span>
    </h3></center>
    <p></p>

    <div class="row">
        {% for doc in hosp.doctors %}
        <div class="col s12 m3 l4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ doc.email | emailToImg }}" alt="{{ doc.name }}">
                    <span class="card-title">Card Title</span>
                </div>
                <h3>{{ doc.name }}</h3>
                <p>{{ doc.designation }},{{ doc.department }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}

    {% block style %}
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Float four columns side by side */
        .column {
            float: left;
            width: 25%;
            padding: 0 10px;
        }

        /* Remove extra left and right margins, due to padding */
        .row {
            margin: 0 -5px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Responsive columns */
        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }

        /* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 16px;
            text-align: center;
            background-color: #f1f1f1;
        }
    </style>
    {% endblock %}

    {% block end %}
    <script>
		$(document).ready(function() {
			$(".parallax").parallax();
		});

    </script>
    {% endblock %}