{% extends "../Defaults/default.html" %}

{% block navbar %}
    {% include "./navbar.html" %}
{% endblock %}
{% block sidebar %}
{% include "./sidebar.html" %}
   
{% endblock %}

{% block style %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="blue-text">{{ title }}</h3>
    </div>
    <div class="divider"></div>
    <div class="container">
        <div id="future" class="col s12">
            <div class="row">
                {% for booking in bookings %}
                    {% if booking.canceled.status %}
                        <div class="col s12 m6">
                            <div class="card red darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Canceled - {{ booking.doctor.name }}</span>
                                    <ul>
                                        <li> Booking Id - {{ booking._id }}</li>
                                        <li> Email - {{ booking.doctor.email }} </li>
                                        <li> Reason - {{ booking.canceled.reason }}</li>
                                        <li>  Canceled By - {{ booking.canceled.canceledBy }}</li>
                                        <!-- maybe fix this to better show the date -->
                                    </ul>
                                </div>
                                <div class="card-action">
                                    <a href="/customer/booking/{{ booking._id }}">Details</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col s12 m6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">{{ booking.doctor.name }}</span>
                                    <ul>
                                        <li> Booking Id - {{ booking._id }}</li>
                                        <li> Email - {{ booking.doctor.email }} </li>
                                        <li> DateTime - {{ booking.start }}</li>
                                        <!-- maybe fix this to better show the date -->
                                    </ul>
                                </div>
                                <div class="card-action">
                                    {% if bookings.start < current and bookings.end>current %}
                                        <a href="/customer/call/{{ booking._id }}">Start/Join Call Session</a>
                                    {% endif %}
{#                                    <a href="/doctor/call/{{ booking._id }}">Start/Join Call Session</a>#}
                                    <a href="/customer/booking/{{ booking._id }}">Details</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <ul class="pagination">
                <li class="waves-effect {% if page==0 %} disabled {% endif %}"><a href="?page={{ page-1 }}"><i
                                class="material-icons">chevron_left</i></a></li>
                <li class="waves-effect"><a href="?page={{ page+1 }}"><i
                                class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block end %}
    {{ super() }}
{% endblock %}