<style>
	:root {
		--primary: #03A9F4;
		--secondary: #29B6F6;
		--terciary: #B2EBF2;
	}

	nav {
		padding: 0 10px;
		background-color: var(--primary);
	}

	nav .right {
		position: absolute;
		top: 0;
		right: 0;
	}

	.nav-wrapper form {
		margin: auto;
		width: 50%;
	}

	.nav-wrapper .input-field {
		padding-top: 7px;
	}

	.nav-wrapper form #search {
		height: 50px;
	}

	nav .right img {
		margin: 17px;
		height: 30px;
		width: 30px;
		border: 2px solid white;
		cursor: pointer;
	}

	nav .right .imgProfil a {
		height: 64px;
	}

	.hidden {
		display: none;
	}
</style>
<!-- maybe move this stylesheet somewhere else -->
<ul id="dropdown1" class="dropdown-content">
	<li>
		<!-- Modal Trigger -->
		<a class="modal-trigger" href="#pincode">Insert Pincode</a>
	</li>
	<li class="divider"></li>
	<li>
		<a class="modal-trigger" href="#newaddress">Add New Address</a>
	</li>
</ul>
<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			 <ul class="left">
				<li>
					<a data-target="slide-out" class="sidenav-trigger show-on-large">
						<i class="hamburger material-icons show-on-large">menu</i>
					</a>
				</li>
			</ul>
			<a href="#" class="brand-logo center">Logo</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<!-- <a class='dropdown-trigger btn' href='#' data-target='dropdown2' >Drop Me! </a> -->
	
				<!-- <li><a href="sass.html">Sass</a></li>
				<li><a href="badges.html">Components</a></li>
				<li><a href="collapsible.html">JavaScript</a></li> -->
				<li><div class="input-field col s3 right-align white-text">
					<select class="white-text" onchange="javascript:handleLang(this)">
					  <option value="" disabled selected class="white-text"><span class="white-text">Select Language</span></option>
					  {% for code,lang in allLangs %}
					  <option value="?lng={{ code }}">{{ lang }}</option>
					  {% endfor %}
					</select>
				  </div>
				</li>
			</ul>
		</div>



<!-- {#		<div class="nav-wrapper">#}
{#			#}{# <ul class="left">#}
{#					<li>#}
{#						<a>#}
{#							<i class="hamburger material-icons hide-on-med-and-up">menu</i>#}
{#						</a>#}
{#					</li>#}
{#				</ul> #}
{#			<form class="left" action="/customer/search" method="get">#}
{#				<div class="input-field">#}
{#					<input id="search" type="search" name="q" placeholder="Search Here">#}
{#					<label class="label-icon" for="search">#}
{#						<i class="material-icons">search</i>#}
{#					</label>#}
{#					<i class="material-icons">close</i>#}
{#				</div>#}
{#			</form>#}
{#			<ul class="right">#}
{#				<li>#}
{#					<a class="dropdown-trigger" href="#!" data-target="dropdown1">Location<i class="material-icons right">arrow_drop_down</i>#}
{#					</a>#}
{#				</li>#}
{#				#}{# <li>#}
{#						<a>#}
{#							<i class="material-icons">notifications_none</i>#}
{#						</a>#}
{#					</li>#}
{#					<li>#}
{#						<a href="">#}
{#							<i class="material-icons">exit_to_app</i>#}
{#						</a>#}
{#					</li> #}
{#			</ul>#}
{#		</div>#} -->

	</nav>
</div>

<!-- Pincode Modal Structure -->
<div id="pincode" class="modal">
	<div class="modal-content">
		<h4>Enter pin code</h4>
		<p>
			<div class="input-field col s6">
				<input id="enterpin" type="text" class="validate">
				<label for="enterpin">PIN</label>
			</div>
		</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat">Apply</a>
	</div>
</div>

<script type="text/javascript"> 
	function handleLang(elm) 
	{ 
	window.location = window.location.pathname + elm.value; 
	} 

	</script> 
	