{% extends "../Defaults/default.html" %}

{% block navbar %}
	{% include "./navbar.html" %}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row" style="margin-top:1em;">
			{% for hit in hits %}
				{% if hit._index == "doctors" %}
					<div class="col s12 m6">
						<div class="card horizontal">
							<div class="card-image">
								<img src="{{ gravatar(hit._source.email) }}">
							</div>
							<div class="card-stacked">
								<div class="card-content">
									<h5>{{ hit._source.name }}</h5>
									<p>
										{{ hit._source.designation }}<br>
										{{ hit._source.speciality }}{# if there is  #}<br>
										{{ hit._source.hospitalName }}
									</p>
								</div>
								{# <div class="card-action">
							<a href="#">This is a link</a>
						</div> #}
							</div>
						</div>
					</div>
				{% elif hit._index == "admins" %}
					<div class="col s12 m6">
						<div class="card horizontal">
							<div class="card-image">
								<img src="{{ gravatar(hit._source.email,{s: "200",r: "g",d: "identicon"},true) }}">
							</div>
							<div class="card-stacked">
								<div class="card-content">
									<h5>{{ hit._source.hospName }}</h5>
									<p>
										{{ hit._source.address.address1 }}<br>
										{{ hit._source.address.address2 }}{# if there is  #}<br>
										{{ hit._source.address.city }} - {{ hit._source.address.zip }}<br>
										{{ hit._source.address.state }} - {{ hit._source.address.country }}
									</p>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

{% endblock %}

{% block end %}
	<script>
		$(document).ready(function () {
			$('select').formSelect();
		});

		$(".dropdown-trigger").dropdown();
		$(document).ready(function () {
			$('.modal').modal();
		});
	</script>
{% endblock %}