{% extends "../Defaults/default.html" %}

{% block navbar %}
    {% include "./navbar.html" %}
{% endblock %}

{% block body %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center blue-text text-lighten-3">Fuzzy Octo Pancake</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <form method="get" class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="autocomplete-input" class="autocomplete" name="q">
                        <label for="autocomplete-input">search the best</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for hospid,hosp in hospitals -%}
                <div class="col s12">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s9">
                                        <h3>{{ hosp._source.hospName }}</h3>
                                        <div class="row">
                                            {% for doc in [].concat(hosp._source.important,hosp._source.doctors) | limit(5) -%}
                                                {% if doc.email %}
                                                    <div class="col s2">
                                                        <img src="{{ doc.email | emailToImg }}" alt="" class="circle responsive-img">
                                                        <div>
                                                            <p class="center-align">{{ doc.name }}</p>
                                                            <p class="center-align">{{ doc.designation }}</p>
                                                            <p class="center-align">{{ doc.department }}</p>
                                                        </div><!-- notice the "circle" class -->
                                                    </div>
                                                {% endif %}
                                            {% endfor -%}
                                            <i class="large material-icons">arrow_forward </i>
                                            <centre>
                                                <p> And Many More <p>
                                                        <centre></div>

                                                    </div>
                                                    <div class="col s3">
                                                        <div class="valign-wrapper">
                                                            <img src="/static/images/small.jpg" alt="" class="responsive-img">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s3">
                                        <div class="valign-wrapper">
                                            <img src="/customer/info/{{ hospid }}/image" alt="hospital image" class="responsive-img">
                                        </div>
                                        <p>{{ hosp._source.address.address1 }}</p>
                                        <p>{{ hosp._source.address.address2 }}</p>
                                        <p>{{ hosp._source.address.city }}</p>
                                        <p>{{ hosp._source.address.state }}</p>
                                    </div>
                                </div>
                            {%- endfor %}
                        </div>
                    </div>

                {% endblock %}

                {% block end %}
                    <script>
                        $(document).ready(function () {
                            $('select').formSelect();
                        });

                        $(".dropdown-trigger").dropdown();
                        $(document).ready(function () {
                            $('.modal').modal();
                        });
                    </script>
                {% endblock %}