{% extends "../Defaults/dashboard.html" %}

{% block sidebar_content %}
{% include "./sidebar.html" %}
{% endblock %}

{% block body %}
<div class="container">
    <h3 class="blue-text">Info</h3>
</div>
<div class="divider"></div>
<div class="container">
    <form action="/admin/info/photo" enctype="multipart/form-data" method="POST">
        <div class="row">
            <div class="col s12 m10">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Image</span>
                        <input type="file" name="image"
                               accept="image/jpeg,image/gif,image/png">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload image , 1920*1080">
                    </div>
                </div>
            </div>
            <div class="col s12 m2">
                <button class="btn waves-effect waves-light light-blue darken-2" type="submit" name="action"
                        style="margin-top: 1.5em;">Upload
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
    <form method="post">
        <div class="row">
            <div class="input-field col s12 m12">
                <textarea name="about" id="hostpital_name" class="materialize-textarea">{{ about }}</textarea>
                <label for="hostpital_name">About Hospital</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input value="{{ phone }}" name="phone" id="phone"
                       type="number" class="validate">
                <label for="phone">Phone Number</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <center>
                    <button class="btn waves-effect waves-light light-blue darken-2" type="submit" name="action">Save
                        Changes
                        <i class="material-icons right">send</i>
                    </button>
                </center>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block end %}
{{ super() }}
{% endblock %}