<li>
	<div class="user-view" style="margin-bottom:0px">
		<div class="background blue lighten-5">
			{# <img src="images/office.jpg"> #}
		</div>
		<a href="#user"><img class="circle" src="{{ sidebar.gravatar }}"></a>
		<a href="#name">
			<span class="black-text name">{{ sidebar.hospitalName }}</span></a>
		<a href="#email">
			<span class="black-text email">{{ sidebar.email }}</span></a>
	</div>
</li>
<li>
	<div class="divider" style="margin-top:0px"></div>
</li>
<li>
	<a class="waves-effect" href="/admin/">
		<i class="material-icons">cloud</i>Unverified</a>
</li>
<li>
	<a class="waves-effect" href="/admin/settings">
		<i class="material-icons">cloud</i>Settings</a>
</li>
<li>
	<div class="divider"></div>
</li>
<li>
	<a class="waves-effect" href="/admin/logout">
		<i class="material-icons">cloud</i>Logout</a>
</li>