{% extends "../Defaults/dashboard.html" %}

{% block sidebar_content %}
	{% include "./sidebar.html" %}
{% endblock %}

{% block body %}
	<div class="container">
		<h3 class="blue-text">Unverified Doctors</h3>
	</div>
	<div class="divider"></div>
	<div class="container">
		<div class="row">
			<form class="col s12" method="post">
				<table class="highlight responsive-table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Employee ID</th>
							<th>Details</th>
							<th>Price Per Session</th>
							<th>Verify</th>
						</tr>
					</thead>

					<tbody>
						{% for doctor in unverified %}
							<tr>
								<td>{{ doctor.name }}</td>
								<td>{{ doctor.employeeID }}</td>
								<td>
									<a class="waves-effect waves-light btn" href="/admin/doctors/{{ doctor._id }}">Details</a>
								</td>
								<td>
									<input value="{{ doctor.pricePerSession }}" placeholder="Price Per Session" id="{{ doc._id }}" name="{{ doctor._id }}" type="number" class="validate">
									{# <label for="{{ doc._id }}">Price Per Session</label> #}
								</td>
								<td>
									<p>
										<label>
											<input name="verify" value="{{ doctor._id }}" type="checkbox"/>
											<span></span>
										</label>
									</p>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="right">
					<button class="btn waves-effect waves-light" type="submit" name="action">Verify
   					<i class="material-icons right">send</i>
					</button>
				</div>

			</form>
		</div>
	</div>
{% endblock %}

{% block end %}
	{{ super() }}
	<script>
		$(document).ready(function () {
			M.updateTextFields();
		});
	</script>
{% endblock %}