{% extends "../Defaults/dashboard.html" %}

{% block sidebar_content %}
	{% include "./sidebar.html" %}
{% endblock %}

{% block style %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.skedTape.min.css">
{% endblock %}

{% block body %}
	<div class="container">
		<h3 class="blue-text">My Bookings</h3>
	</div>
	<div class="divider"></div>
	<div class="container">
		<div class="sked"></div>
	</div>
{% endblock %}

{% block end %}
	{{ super() }}
	<script src="/static/js/jquery.skedTape.min.js"></script>
	<script>
		/*function startAt(hours, minutes) {
		var date = new Date();
		date = convertToStartDay(date);
		date.setHours(hours, minutes, 0, 0);
		return date;
	}*/

		function getDayOfWeek(date) {
			const dayOfWeek = new Date(date).getDay();
			return isNaN(dayOfWeek)
				? null
				: [
					'sunday',
					'monday',
					'tuesday',
					'wednesday',
					'thursday',
					'friday',
					'saturday'
				][dayOfWeek];
		}

		function convertToStartDay(date) {
			var date = new Date(date);
			var today = new Date(start);
			date.setFullYear(today.getFullYear(), today.getMonth(), today.getDate());
			return date;
		}

		function convertBack(event, originalDate) {
			var original = new Date(originalDate);
			var event = new Date(event);
			event.setFullYear(original.getFullYear(), original.getMonth(), original.getDate());
			return event;
		}
		// --------------------------- Example 1 ---------------------------
		$(document).ready(function () {
			$('select').formSelect();
		});

		$(".dropdown-trigger").dropdown();
		$(document).ready(function () {
			$('.modal').modal();
		});

		//var data = JSON.parse('{{ json | safe }}')
		var data = JSON.parse("")

		var start = new Date(data.start);
		var end = new Date(data.end);

		//here we shall store the event that in case the client wants to book would be stored
		var toBookEvent;
		var bookingStart;
		var bookingEnd;

		var locations = {}
		for (var loc of data.locations) {
			locations[loc.id] = {
				name: loc.name,
				startTime: loc.userData.startTime,
				endTime: loc.userData.endTime
			}
		}

		var bookings = []
		for (var booking of data.bookings) {
			let startDate = new Date(booking.start);

			bookings.push({
				name: 'Booked',
				location: getDayOfWeek(startDate),
				start: convertToStartDay(startDate),
				end: convertToStartDay(booking.end),
				disabled: true
			})
		}

		var $sked = $('#tape').skedTape({
			caption: 'Days', start: start, // Timeline starts this date-time
			end: end, // Timeline ends this date-time
			showEventTime: true, // Whether to show event start-end time
			showEventDuration: true, // Whether to show event duration
			snapToMins: 1,
			showDates: false, //hides the bar at the top
			editMode: false,
			locations: data.locations,
			events: bookings,
			intermissionRange: [1, 15]
		});

		//function called when the item is placed
		$sked.on('event:dragEnded.skedtape', function (e/* , api */) {
			if (toBookEvent) {
				$sked.skedTape('removeEvent', toBookEvent.event.id);
			}
			bookingStart = convertBack(e.detail.event.start, locations[e.detail.locationId].startTime);
			bookingEnd = convertBack(e.detail.event.end, locations[e.detail.locationId].startTime);
			toBookEvent = e.detail;
			$("#booking").css("display", "inline");
			$("#bookingData").text(bookingStart.toString());
		});

		$("#booking").submit(function (event) {
			$("<input />")
				.attr("type", "hidden")
				.attr("name", "data")
				.attr("value", JSON.stringify({start: bookingStart, end: bookingEnd}))
				.appendTo("#booking");
			return true;
		});

		$sked.on('timeline:click.skedtape', function (e, api) {
			try {
				$sked.skedTape('startAdding', {
					name: 'New meeting',
					duration: data.timePerSession * 60 * 1000
				});
			} catch (e) {
				if (e.name !== 'SkedTape.CollisionError') 
					throw e;
				}
			});
	</script>
{% endblock %}