{% extends "../Defaults/dashboard.html" %}

{% block sidebar_content %}
{% include "./sidebar.html" %}
{% endblock %}

{% block style %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/jquery.skedTape.min.css">
{% endblock %}

{% block body %}
<div class="container">
    <h3 class="blue-text">Bookings</h3>
</div>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#timetable">Timetable</a></li>
            <li class="tab col s3"><a href="#list">List</a></li>
        </ul>
    </div>
</div>
<div class="divider"></div>
<div class="container">
    <div id="timetable" class="col s12">
        <div class="row">
            <div class="col s12">
                <div id="tape"></div>
            </div>
            <div class="col s12">
                <table class="responsive-table striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Old Date</th>
                        <th>New Date</th>
                    </tr>
                    </thead>
                    <tbody id="changedBookings">

                    </tbody>
                </table>
            </div>
            <form id="booking" class="col s12 row" style="display:none;" method="POST">
                <center>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Apply Changes
                        <i class="material-icons right">send</i>
                    </button>
                </center>
            </form>
        </div>
    </div>
    <div id="list" class="col s12">
        <div class="row">
            {% for booking in bookings %}
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ booking.customer.name }}</span>
                        <ul>
                            <li> Booking Id - {{ booking._id }}</li>
                            <li> Email - {{ booking.customer.email }} </li>
                            <li> DateTime - {{ booking.start }}</li><!-- maybe fix this to better show the date -->
                        </ul>
                    </div>
                    <div class="card-action">
                        <a href="/doctor/call/{{ booking._id }}">Start/Join Call Session</a>
                        <a href="/doctor/bookings/{{ booking._id }}">Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block end %}
{{ super() }}
<script src="/static/js/jquery.skedTape.min.js"></script>
<script>
	/*function startAt(hours, minutes) {
		var date = new Date();
		date = convertToStartDay(date);
		date.setHours(hours, minutes, 0, 0);
		return date;
	}*/

	function getDayOfWeek(date) {
		const dayOfWeek = new Date(date).getDay();
		return isNaN(dayOfWeek)
			? null
			: [
				"sunday",
				"monday",
				"tuesday",
				"wednesday",
				"thursday",
				"friday",
				"saturday"
			][dayOfWeek];
	}

	function convertToStartDay(date) {
		var date = new Date(date);
		var today = new Date(start);
		date.setFullYear(today.getFullYear(), today.getMonth(), today.getDate());
		return date;
	}

	function convertBack(event, originalDate) {
		var original = new Date(originalDate);
		var event = new Date(event);
		event.setFullYear(original.getFullYear(), original.getMonth(), original.getDate());
		return event;
	}

	// --------------------------- Example 1 ---------------------------
	$(document).ready(function() {
		$("select").formSelect();
	});

	$(".dropdown-trigger").dropdown();
	$(document).ready(function() {
		$(".modal").modal();
	});

	var data = JSON.parse('{{ json | safe }}');

	var start = new Date(data.start);
	var end = new Date(data.end);

	var originalEvents = {};

	var locations = {};
	for (var loc of data.locations) {
		locations[loc.id] = {
			name: loc.name,
			startTime: loc.userData.startTime,
			endTime: loc.userData.endTime
		};
	}

	var bookings = [];
	for (var booking of data.bookings) {
		let startDate = new Date(booking.start);

		bookings.push({
			name: "Booked",//change this for the doctor
			location: getDayOfWeek(startDate),
			start: convertToStartDay(startDate),
			end: convertToStartDay(booking.end),
			disabled: true,
			userData: { id: booking._id }
		});

		originalEvents[booking._id] = { start: startDate, end: booking.end };
	}

	data.locations.pop();

	var $sked = $("#tape").skedTape({
		caption: "Days", start: start, // Timeline starts this date-time
		end: end, // Timeline ends this date-time
		showEventTime: true, // Whether to show event start-end time
		showEventDuration: true, // Whether to show event duration
		snapToMins: 1,
		showDates: false, //hides the bar at the top
		editMode: true,
		locations: data.locations,
		events: bookings,
		intermissionRange: [1, 15]
	});

	$sked.on("event:dragEnded.skedtape", function(e) {
		$("#booking").css("display", "inline");
		$("#changedBookings tr").remove();
		let newEvents = $sked.data().skedTape.events;
		for (let event of newEvents) {
			if (!event.disabled) {
				let newStart = convertBack(event.start, locations[event.location].startTime).toLocaleString();//convertBack();
				let oldStart = originalEvents[event.userData.id].start.toLocaleString();
				$("#changedBookings").append("<tr><td>" + event.userData.id + "</td><td>" + oldStart + "</td><td>" + newStart + "</td></tr>");
			}
		}
	});

	//for right click on the events
	// $sked.on("event:contextmenu.skedtape", function(e) {
	// 	console.log("test");
	// });

	$("#booking").submit(function(event) {
		let updated = {};
		for (let event of $sked.data().skedTape.events) {
			if (!event.disabled) {
				updated[event.userData.id] = {};
				updated[event.userData.id]["start"] = convertBack(event.start, locations[event.location].startTime);
				updated[event.userData.id]["end"] = convertBack(event.end, locations[event.location].startTime);
			}
		}

		$("<input />")
			.attr("type", "hidden")
			.attr("name", "data")
			.attr("value", JSON.stringify(updated))
			.appendTo("#booking");
		return true;
	});

	$(document).ready(function(){
		$('.tabs').tabs();
	});


</script>
{% endblock %}