{% extends "../Defaults/dashboard.html" %}

{% block sidebar_content %}
    {% include "./sidebar.html" %}
{% endblock %}

{% block style %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="blue-text">Patient</h3>
    </div>
    <div class="divider"></div>
    <div class="container">
        <div class="row" style="margin-top:2em">
            <div class="col s2">
                <img src="https://lorempixel.com/100/190/nature/6" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
                <h5>{{ patient.name }}</h5>
                <h6>{{ patient.email }}</h6>
            </div>
        </div>
    </div>
{% endblock %}

{% block end %}
    {{ super() }}
{% endblock %}