<li>
	<div class="user-view" style="margin-bottom:0px">
		<div class="background blue lighten-5">
			{# <img src="images/office.jpg"> #}
		</div>
		<a href="#user"><img class="circle" src="{{ sidebar.gravatar }}"></a>
		<a href="#name">
			<span class="black-text name">{{ sidebar.name }}</span></a>
		<a href="#email">
			<span class="black-text email">{{ sidebar.email }}</span></a>
	</div>
</li>
<li>
	<a class="waves-effect" href="/doctor/">
		<i class="material-icons">cloud</i>Settings</a>
</li>
<li>
	<a class="waves-effect" href="/doctor/call">
		<i class="material-icons">call</i>Create Session</a>
</li>
<li>
	<a class="waves-effect" href="/doctor/timings">
		<i class="material-icons">timer</i>Change Timings</a>
</li>
<li>
	<a class="waves-effect" href="/doctor/bookings">
		<i class="material-icons">timer</i>Bookings</a>
</li>
<li>
	<a class="waves-effect" href="/doctor/future-bookings">
		<i class="material-icons">timer</i>Future Bookings</a>
</li>
<li>
	<a class="waves-effect" href="/doctor/past-bookings">
		<i class="material-icons">timer</i>Past Bookings</a>
</li>
<li>
	<a class="waves-effect" href="/doctor/my-patients">
		<i class="material-icons">group</i>My Patients</a>
</li>
<li>
	<div class="divider"></div>
</li>
<li>
	<a class="waves-effect" href="/doctor/logout">
		<i class="material-icons">whatshot</i>Logout</a>
</li>
